footer{
    height: 50px;
    border-top: 1px solid $pr-color;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
    svg{
        margin-right: 10px;
    }

}